<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="form-login">
        <h4>Velkominn</h4>
        <input type="text" ng-model="username" class="form-control input-sm chat-input" placeholder="Þitt nafn" />
        </br>
        <input type="text" ng-model="roomId" class="form-control input-sm chat-input" placeholder="Númer leiks" />
        </br>
        <div class="wrapper">
          <span class="group-btn">
            <a href="" class="btn btn-primary btn-md" ng-click="joinRoom()">Tengjast leik</a>
            <a href="" class="btn btn-success btn-md" ng-click="createRoom()">Búa til leik</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>